name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 build hatchling
    - name: Build package
      run: |
        python -m build
    - name: Install package
      run: |
        python -m pip install dist/*.whl
    - name: Test with unittest
      run: |
        python -m unittest
    - name: Lint with flake8
      run: |
        flake8 --ignore=E501 src/*
